body {
    background: #efefef;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

p {
    word-break: break-all;
}

ul {
    padding-inline-start: 0;
}